---
Checks:          'readability-identifier-naming,readability-non-const-parameter,readability-misleading-indentation,readability-math-missing-parentheses,misc-unused-parameters,portability-simd-intrinsics,readability-avoid-return-with-void-value,readability-else-after-return,readability-function-size,readability-simplify-boolean-expr,misc-no-recursion,readability-inconsistent-declaration-parameter-name, -cert-err33-c.CheckedFunctions, -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling, -clang-analyzer-optin.portability.UnixAPI'

WarningsAsErrors: 'readability-identifier-naming,readability-non-const-parameter,readability-misleading-indentation,readability-math-missing-parentheses,misc-unused-parameters,portability-simd-intrinsics,readability-avoid-return-with-void-value,readability-else-after-return,readability-function-size,readability-simplify-boolean-expr,misc-no-recursion,readability-inconsistent-declaration-parameter-name, -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling, -clang-analyzer-optin.portability.UnixAPI, -cert-err33-c.CheckedFunctions'

HeaderFileExtensions:
  - h

ImplementationFileExtensions:
  - c

SystemHeaders: false
HeaderFilterRegex: '.*'
FormatStyle: 'file'
CheckOptions:

  - key: readability-function-size.LineThreshold
    value: '60'

  - key: readability-identifier-naming.IgnoreMacros
    value: true

  - key: readability-function-size.BranchThreshold
    value: 'none'

  - key: readability-function-size.StatementThreshold
    value: 'none'

  - key: readability-function-size.ParameterThreshold
    value: '5'

  - key: readability-function-size.NestingThreshold
    value: 'none'

  - key: readability-function-size.VariableThreshold
    value: '5'

  - key: portability-simd-intrinsics.Suggest
    value: true

  - key: misc-unused-parameters.StrictMode
    value: true

  - key: readability-identifier-naming.FunctionCase
    value: lower_case

  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case

  #- key: readability-identifier-naming.MacroDefinitionCase
    #value: UPPER_CASE

  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case

  - key: readability-identifier-naming.GlobalVariablePrefix
    value: g_

  - key: readability-identifier-naming.LocalConstantCase
    value: lower_case

  - key: readability-identifier-naming.LocalConstantPointerCase
    value: lower_case

  - key: readability-identifier-naming.LocalPointerCase
    value: lower_case

  - key: readability-identifier-naming.ParameterCase
    value: lower_case

  - key: readability-identifier-naming.ParameterPackCase
    value: lower_case

  - key: readability-identifier-naming.PointerParameterCase
    value: lower_case

  - key: readability-identifier-naming.ScopedEnumConstantCase
    value: UPPER_CASE

  - key: readability-identifier-naming.ScopedEnumConstantPrefix
    value: e_

  - key: readability-identifier-naming.StaticConstantCase
    value: lower_case

  - key: readability-identifier-naming.StaticVariableCase
    value: lower_case

  - key: readability-identifier-naming.StructCase
    value: lower_case

  - key: readability-identifier-naming.StructPrefix
    value: s_

  - key: readability-identifier-naming.TypeAliasCase
    value: lower_case

  - key: readability-identifier-naming.TypeAliasSuffix
    value: _t

  - key: readability-identifier-naming.TypedefCase
    value: lower_case

  - key: readability-identifier-naming.TypedefSuffix
    value: _t

  - key: readability-identifier-naming.UnionCase
    value: lower_case

  - key: readability-identifier-naming.UnionPrefix
    value: u_

  - key: readability-identifier-naming.VariableCase
    value: lower_case
...
